@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@500&display=swap');


body {
  margin: 0;
  font-family: 'Montagu Slab', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bs1{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

h1{
  font-size: 29px;
  font-weight: bold;
  color:rgb(248, 88, 29);
}

.header{
  padding: 12px;
  background-color: rgb(116, 117, 116);
}

.content{
  min-height: 90vh;
  background-color: rgb(56, 56, 56);
}